#####################################################################################################################################################################
##                                                                      Admin Tool Configs                                                                         ##
#####################################################################################################################################################################
# Directories to logs and exclusion files
auth="/var/log/auth.log"
excludeList="/home/f43ak/git/admintool/config/exclude.list"
sshFileName="auth.log"
archiveLocation="/var/log/authArchive/"
#####################################################################################################################################################################
##                                                                        Default Values                                                                           ## 
#####################################################################################################################################################################
enableSplitter=true
showBan=true
showerUserAttempts=false
failedAmount=5
successAmount=5
switchEvents=5
attemptValue=5
logEntryMax=100000
logEntryWarn=75000
#####################################################################################################################################################################
##                                                                        Search Strings                                                                           ##
#####################################################################################################################################################################
failedLogins=$(cat /var/log/auth.log | grep "Failed password" | wc -l)
recentFailedEvents='cat /var/log/auth.log | grep "Failed password"'
recentSuccessfulEvents='cat /var/log/auth.log | grep "Accepted password"'
switchUserEvents='cat /var/log/auth.log | grep "su:session" | grep "session opened for user"'
userList=($(cat /etc/passwd | grep -v "nologin" | awk -F: '{print $1}' | sort -r ))
unAuthorized=$(cat /var/log/auth.log | grep "Accepted password" | grep -v "192.168.0.15" | grep -v "192.168.0.1" | grep -v "66.60.97.166" |  wc -l)
rootAttempts=$(cat /var/log/testlog | grep root | wc -l)
nonRootAttempts=$(cat /var/log/testlog | grep -v root | wc -l)
userAttempts=$(cat /var/log/testlog | grep -v root | grep -v "^$" | tail -$attemptValue)

#####################################################################################################################################################################
##                                                                           Layout                                                                                ##
#####################################################################################################################################################################

spacer=$"\e[90m******************************************************************************************************************************\e[49m\e[0m"

#####################################################################################################################################################################
##                                                                         Do Not Edit                                                                             ##
#####################################################################################################################################################################
banStats=$(fail2ban-client status sshd)
exclude="NULLEXCLUSION"
authSizeB=$(stat --printf="%s" /var/log/auth.log)
authEntries=$(cat /var/log/auth.log | wc -l)
authSize=$(echo "$authSizeB 1000000" | awk '{printf "%.2fMB \n", $1/$2}')
len=${#userList[@]}
startMonth=$(cat /var/log/auth.log | head -1 | awk '{print $1;}')
startDay=$(cat /var/log/auth.log | head -1 | awk '{print $2;}')
endMonth=$(cat /var/log/auth.log | tail -1 | awk '{print $1;}')
endDay=$(cat /var/log/auth.log | tail -1 | awk '{print $2;}')
dateRange=('-'$startMonth$startDay'-'$endMonth$endDay)
archiveName=($sshFileName$dateRange)
logDensity=$(cat "$auth" | wc -l)
