#####################################################################################################################################################################
##                                                                      Admin Tool Configs                                                                         ##
#####################################################################################################################################################################
# Directories to logs and exclusion files
auth="/var/log/auth.log"
excludeList="/home/f43ak/git/admintool/config/exclude.list"
sshFileName=auth.log
archiveLocation="{$archiveLocation}1;"
#####################################################################################################################################################################
##                                                                        Default Values                                                                           ## 
#####################################################################################################################################################################
enableSplitter=true
showBan=true
showerUserAttempts=false
failedAmount=5
successAmount=5
switchEvents=5
attemptValue=5
logEntryMax=100000
logEntryWarn=75000
#####################################################################################################################################################################
##                                                                        Search Strings                                                                           ##
#####################################################################################################################################################################
failedLogins="{$auth}1;"
recentFailedEvents="{$auth}1;"
recentSuccessfulEvents="{$auth}1;"
switchUserEvents="{$auth}1;"
userList=($(cat /etc/passwd | grep -v "nologin" | awk -F: '{print $1}' | sort -r ))
#unAuthorized="{$auth}1;"
#rootAttempts=$(cat /var/log/testlog | grep root | wc -l)
#nonRootAttempts=$(cat /var/log/testlog | grep -v root | wc -l)
userAttempts=5
acceptedSearch="{$auth}1;"
#####################################################################################################################################################################
##                                                                           Layout                                                                                ##
#####################################################################################################################################################################

spacer=$"\e[90m******************************************************************************************************************************\e[49m\e[0m"

#####################################################################################################################################################################
##                                                                         Do Not Edit                                                                             ##
#####################################################################################################################################################################
banStats=$(fail2ban-client status sshd)
exclude="NULLEXCLUSION"
authSizeB="{$auth}1;"
authEntries="{$auth}1;"
authSize="{$auth}1;"
len=${#userList[@]}
startMonth="{$auth}1;"
startDay="{$auth}1;"
endMonth="{$auth}1;"
endDay="{$auth}1;"
dateRange=('-'$startMonth$startDay'-'$endMonth$endDay)
archiveName=auth.log
logDensity="{$auth}1;"
setupInit=1
